{% extends 'news_curate/base.html' %}
{% block content %}

<h3>Do you want to make a account ? <a href="{% url 'news_curate:signup' %}">Sign up</a></h3>
<h3>Do you have already account ? <a href="{% url 'news_curate:signin' %}">Sign in</a></h3>
<h3>Do you want to logout? <a href="{% url 'news_curate:logout' %}">Log out</a></h3>
<h2>Articles</h2>
<ul>
    {% for article in page_obj %}
        <li>{{article.published_date|date}} - <a href="{% url 'news_curate:detail_test' article.slug %}">{{article.title|upper}}</a></li>
    {% empty %}
        <li>No Articles Yet.</li>    
        
    {% endfor %}
</ul>

<div class='pagination'>
    <span class='step_links'>
        {% if page_obj.has_previous%}
            <a href='?page=1'>&laquo; first</a>
            <a href='?page={{page_obj.previous_page_number}}'>previous</a>
        {% endif %}
        <span class='current'>
            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.
        </span>

        {% if page_obj.has_next %}
            <a href ='?page={{page_obj.next_page_number}}'>next</a>
            <a href ='?page={{page_obj.paginator.num_pages}}'>last &raquo;</a>
        {% endif %}
    </span>

</div>

{% endblock %}
